PreviousValues=~/.ethereum.Previous
Email_From=me@example.com
Email_To=me@example.com
Email_Server=smtp.example.com


TaapiKey="abc"
Exchange="binance"
Interval="1h"

Test=1
Buy=-0.1
Sell=0.1

BinanceUrl="https://api.binance.com/api/v3"
BinanceKey="xyz"
BinanceSecret="xxx"
Asset="ETH"
Quote="USDT"
